* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}
button,
input,
textarea,
select {
  font-family: "Cinzel", serif;
}
:root {
  --color-white: #fff;
  --color-bg: rgb(69, 67, 67);
  --color-bg-variant: rgb(88, 88, 88);
  --color-success: green;
  --color-blue: #1e90ff;
  --color-btn: #000;
  --border-color: gold;
  --color-input: rgb(213, 237, 229);
}

body {
  font-family: "Cinzel", serif;
}

/* Navbar */

.navContainer {
  display: flex;
  background: var(--color-bg);
  color: var(--color-white);
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
}

.navLeft {
  margin-left: 1rem;
}

.navCenter {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.navSearch {
  padding: 0.7rem;
  width: 60vh;
}

.btn {
  padding: 1rem;
  background: var(--color-success);
  color: var(--color-white);
  font-weight: 600;
  border-radius: 0.2rem;
}

.btn:hover {
  cursor: pointer;
  padding: 1.05rem;
  background: var(--color-blue);
}

.navRight {
  display: flex;
  margin-right: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

.navCart,
.navAdmin,
.navUser {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.navCart:hover,
.navAdmin:hover,
.navUser:hover {
  background: var(--color-bg-variant);
  cursor: pointer;
  padding: 0.5rem;
}

.cartImg {
  width: 24px;
  height: 24px;
}

/* Home Container */

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.productLists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.productDetailsContainer {
  border: 1px solid var(--border-color);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  margin: 0.5rem;
}
.productImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.productImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.productDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.productRatingReviews {
  font-weight: 500;
}

/*Rating Components */
.ratingContainer {
  display: flex;
  gap: 0.15rem;
}
.ratingStarImg {
  width: 16px;
  height: 16px;
}

/* Porduct page */
.productPageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.returnLink {
  margin-bottom: 1rem;
}
.productPageImgContainer {
  width: fit-content;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productPageDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.aboutProduct {
}
.aboutProductContent {
  border: 1px solid var(--border-color);
  padding: 1rem;
}

.aboutProductQty {
  border: 1px solid var(--border-color);
  padding: 1rem;
  width: 20rem;
}
.productStock {
  display: flex;
}
.productPageImg {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.productQty {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
}
.btn-cart {
  background: var(--color-btn);
  color: var(--color-white);
  padding: 1rem;
}

.btn-cart:hover {
  cursor: pointer;
  padding: 1.05rem;
  font-weight: 500;
}
.disabled {
  opacity: 0.6;
}
.disabled:hover {
  cursor: not-allowed;
}
.decreaseQty,
.increaseQty {
  font-size: 1.5rem;
  padding: 0.15rem 0.5rem;
  background: var(--border-color);
  cursor: pointer;
}

.productReviews {
  margin-left: 3rem;
  margin-top: 2rem;
}
.productReviewContent {
  border: 1px solid var(--border-color);
}

.reviewCell {
  padding: 1rem;
}

.reviewText {
  border: 1px solid var(--color-btn);
  padding: 1rem;
}
.writeReviewContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid var(--border-color);
}

.ratingSelect {
  display: flex;
  justify-content: space-between;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

/*Auth Pages */

.authContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 3rem;
  gap: 1rem;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formInput {
  background: var(--color-input);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.ToogleLink {
  color: var(--color-blue);
}
